
<div *ngIf="fraisRecue">
    <h2><span jhiTranslate="epetrolstationbackendApp.fraisRecue.detail.title">Frais Recue</span> {{fraisRecue.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="epetrolstationbackendApp.fraisRecue.date">Date</span></dt>
        <dd>
            <span>{{fraisRecue.date | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="epetrolstationbackendApp.fraisRecue.montant">Montant</span></dt>
        <dd>
            <span>{{fraisRecue.montant}}</span>
        </dd>
        <dt><span jhiTranslate="epetrolstationbackendApp.fraisRecue.hastrr">Hastrr</span></dt>
        <dd>
            <div *ngIf="fraisRecue.hastrrId">
                <a [routerLink]="['/tresorerie', fraisRecue.hastrrId]">{{fraisRecue.hastrrId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'frais-recue/'+ fraisRecue.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
