<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myEntreeCarburantLabel" jhiTranslate="epetrolstationbackendApp.entreeCarburant.home.createOrEditLabel">Create or edit a Entree Carburant</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!entreeCarburant.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="entreeCarburant.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="epetrolstationbackendApp.entreeCarburant.date" for="field_date">Date</label>
            <div class="d-flex">
                <input id="field_date" type="datetime-local" class="form-control" name="date" [(ngModel)]="entreeCarburant.date"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="epetrolstationbackendApp.entreeCarburant.prixTotalht" for="field_prixTotalht">Prix Totalht</label>
            <input type="number" class="form-control" name="prixTotalht" id="field_prixTotalht"
                [(ngModel)]="entreeCarburant.prixTotalht" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="epetrolstationbackendApp.entreeCarburant.quantite" for="field_quantite">Quantite</label>
            <input type="number" class="form-control" name="quantite" id="field_quantite"
                [(ngModel)]="entreeCarburant.quantite" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="epetrolstationbackendApp.entreeCarburant.prixTTC" for="field_prixTTC">Prix TTC</label>
            <input type="number" class="form-control" name="prixTTC" id="field_prixTTC"
                [(ngModel)]="entreeCarburant.prixTTC" />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="epetrolstationbackendApp.entreeCarburant.modeReglement" for="field_modeReglement">Mode Reglement</label>
            <select class="form-control" id="field_modeReglement" name="modeReglement" [(ngModel)]="entreeCarburant.modeReglementId">
                <option [ngValue]="null"></option>
                <option [ngValue]="modeReglementOption.id" *ngFor="let modeReglementOption of modereglements; trackBy: trackModeReglementById">{{modeReglementOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="epetrolstationbackendApp.entreeCarburant.carburant" for="field_carburant">Carburant</label>
            <select class="form-control" id="field_carburant" name="carburant" [(ngModel)]="entreeCarburant.carburantId">
                <option [ngValue]="null"></option>
                <option [ngValue]="carburantOption.id" *ngFor="let carburantOption of carburants; trackBy: trackCarburantById">{{carburantOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="epetrolstationbackendApp.entreeCarburant.tresorerie" for="field_tresorerie">Tresorerie</label>
            <select class="form-control" id="field_tresorerie" name="tresorerie" [(ngModel)]="entreeCarburant.tresorerieId">
                <option [ngValue]="null"></option>
                <option [ngValue]="tresorerieOption.id" *ngFor="let tresorerieOption of tresoreries; trackBy: trackTresorerieById">{{tresorerieOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
