<div>
    <h2>
        <span jhiTranslate="epetrolstationbackendApp.produit.home.title">Produits</span>
        <button class="btn btn-primary float-right jh-create-entity create-produit" [routerLink]="['/', { outlets: { popup: ['produit-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="epetrolstationbackendApp.produit.home.createLabel">
            Create new Produit
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="produits">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="designation"><span jhiTranslate="epetrolstationbackendApp.produit.designation">Designation</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="soldeInit"><span jhiTranslate="epetrolstationbackendApp.produit.soldeInit">Solde Init</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="prixAchat"><span jhiTranslate="epetrolstationbackendApp.produit.prixAchat">Prix Achat</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="prixVente"><span jhiTranslate="epetrolstationbackendApp.produit.prixVente">Prix Vente</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="quantiteDispo"><span jhiTranslate="epetrolstationbackendApp.produit.quantiteDispo">Quantite Dispo</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="quantiteInit"><span jhiTranslate="epetrolstationbackendApp.produit.quantiteInit">Quantite Init</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="seuilReaprov"><span jhiTranslate="epetrolstationbackendApp.produit.seuilReaprov">Seuil Reaprov</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="reference"><span jhiTranslate="epetrolstationbackendApp.produit.reference">Reference</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="tvaId"><span jhiTranslate="epetrolstationbackendApp.produit.tva">Tva</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="categorieId"><span jhiTranslate="epetrolstationbackendApp.produit.categorie">Categorie</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let produit of produits ;trackBy: trackId">
                <td><a [routerLink]="['../produit', produit.id ]">{{produit.id}}</a></td>
                <td>{{produit.designation}}</td>
                <td>{{produit.soldeInit}}</td>
                <td>{{produit.prixAchat}}</td>
                <td>{{produit.prixVente}}</td>
                <td>{{produit.quantiteDispo}}</td>
                <td>{{produit.quantiteInit}}</td>
                <td>{{produit.seuilReaprov}}</td>
                <td>{{produit.reference}}</td>
                <td>
                    <div *ngIf="produit.tvaId">
                        <a [routerLink]="['../tva', produit.tvaId  ]" >{{produit.tvaId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="produit.categorieId">
                        <a [routerLink]="['../categorie', produit.categorieId  ]" >{{produit.categorieId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../produit', produit.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'produit/'+ produit.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'produit/'+ produit.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="produits && produits.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
