<div>
    <h2>
        <span jhiTranslate="epetrolstationbackendApp.tresorerie.home.title">Tresoreries</span>
        <button class="btn btn-primary float-right jh-create-entity create-tresorerie" [routerLink]="['/', { outlets: { popup: ['tresorerie-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="epetrolstationbackendApp.tresorerie.home.createLabel">
            Create new Tresorerie
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="tresoreries">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="epetrolstationbackendApp.tresorerie.libele">Libele</span></th>
            <th><span jhiTranslate="epetrolstationbackendApp.tresorerie.codeRib">Code Rib</span></th>
            <th><span jhiTranslate="epetrolstationbackendApp.tresorerie.soldeReserve">Solde Reserve</span></th>
            <th><span jhiTranslate="epetrolstationbackendApp.tresorerie.soldeOuverture">Solde Ouverture</span></th>
            <th><span jhiTranslate="epetrolstationbackendApp.tresorerie.chiffreComptable">Chiffre Comptable</span></th>
            <th><span jhiTranslate="epetrolstationbackendApp.tresorerie.hastypet">Hastypet</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let tresorerie of tresoreries ;trackBy: trackId">
                <td><a [routerLink]="['../tresorerie', tresorerie.id ]">{{tresorerie.id}}</a></td>
                <td>{{tresorerie.libele}}</td>
                <td>{{tresorerie.codeRib}}</td>
                <td>{{tresorerie.soldeReserve}}</td>
                <td>{{tresorerie.soldeOuverture}}</td>
                <td>{{tresorerie.chiffreComptable}}</td>
                <td>
                    <div *ngIf="tresorerie.hastypetId">
                        <a [routerLink]="['../type-tresorerie', tresorerie.hastypetId  ]" >{{tresorerie.hastypetId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../tresorerie', tresorerie.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'tresorerie/'+ tresorerie.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'tresorerie/'+ tresorerie.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
