
<div *ngIf="tauxMelange">
    <h2><span jhiTranslate="epetrolstationbackendApp.tauxMelange.detail.title">Taux Melange</span> {{tauxMelange.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="epetrolstationbackendApp.tauxMelange.tauxMelange">Taux Melange</span></dt>
        <dd>
            <span>{{tauxMelange.tauxMelange}}</span>
        </dd>
        <dt><span jhiTranslate="epetrolstationbackendApp.tauxMelange.prixMelange">Prix Melange</span></dt>
        <dd>
            <span>{{tauxMelange.prixMelange}}</span>
        </dd>
        <dt><span jhiTranslate="epetrolstationbackendApp.tauxMelange.tauxEnCours">Taux En Cours</span></dt>
        <dd>
            <span>{{tauxMelange.tauxEnCours}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'taux-melange/'+ tauxMelange.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
